[submodule "pcb/footprints/teensy.pretty"]
	path = kicad/footprints/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty
[submodule "pcb/symbols/teensy_library"]
	path = kicad/symbols/teensy_library
	url = https://github.com/XenGi/teensy_library
